{% extends "myapp/doctor_index.html" %}
{% block content %}
<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Profile <small class="text-muted">Welcome to MedicoExperts</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                                                    <button class="btn btn-white btn-icon btn-round d-none d-md-inline-block float-right m-l-10" type="button">
                                <i class="zmdi zmdi-edit"></i>
                            </button>
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i>edicoExperts</a></li>
                            <li class="breadcrumb-item">Doctors</li>
                            <li class="breadcrumb-item active">Profile</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
    <div class="row clearfix profile-page">
        <div class="col-lg-4 col-md-12">
            <div class="card profile-header">
                <div class="body text-center">
                    <div class="profile-image"> <img src="{{did.pic.url}}" alt=""> </div>
                    <div>
                        <h4 class="m-b-0"><strong> {{did.username}} </strong></h4>
                        <span class="job_post">{{did.specification}}</span>
                        <p>{{did.address}}<br></p>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-round">Follow</button>
                        <button class="btn btn-primary btn-round btn-simple">Message</button>
                    </div>
                    <p class="social-icon m-t-5 m-b-0">
                        <a title="Twitter" href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a>
                        <a title="Facebook" href="javascript:void(0);"><i class="zmdi zmdi-facebook"></i></a>
                        <a title="Google-plus" href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a>
                        <a title="Behance" href="javascript:void(0);"><i class="zmdi zmdi-behance"></i></a>
                        <a title="Instagram" href="javascript:void(0);"><i class="zmdi zmdi-instagram "></i></a>
                    </p>
                </div>                    
            </div>                               
            <div class="card">
                <div class="body">
                    <div class="workingtime">
                        <h6>Visiting Hours</h6>
                        <p>06:00 AM - 07:00 AM</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="card">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Account">Account</a></li>                        
                </ul>
                <div class="tab-content">
                    <div class="tab-pane body active" id="about">
                        <p>Dr. Charlotte Deo Leon is a neurosurgeon in East Patchogue,Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. He received his medical degree from Harvard Medical School and has been in practice for 21 years. He is one of 5 doctors at Brookhaven Memorial Hospital Medical Center and one of 9 at Southside Hospital who specialize in Neurological Surgery.</p>
                        <h6>Qualifications</h6>
                        <hr>
                        <ul class="list-unstyled">
                            <li>
                                <p><strong>Hospital Affiliations:</strong> UCSF MEDICAL CENTER</p>
                            </li>
                            <li>
                                <p><strong>Medical School:</strong> Palmer College of Chiropractic 1978</p>
                            </li>
                            <li>
                                <p><strong>Residency:</strong> New york</p>
                            </li>
                            <li>
                                <p><strong>Certifications:</strong> Certified Chiropractic Sports Physician 1982</p>
                            </li>
                            <li>
                                <p><strong>Gender:</strong> Female</p>
                            </li>
                            <li>
                                <p><strong>Experience / Tranining:</strong> Past-President, Int. Fed. 1991</p>
                            </li>
                            <li>
                                <p><strong>Internship:</strong> Palmer Clinic</p>
                            </li>
                        </ul>
                        <h6>Specialties</h6>
                        <hr>
                        <ul class="list-unstyled specialties">
                            <li>Breast Surgery</li>
                            <li>Colorectal Surgery</li>
                            <li>Endocrinology</li>
                            <li>Cardiology</li>
                            <li>Cosmetic Dermatology</li>
                            <li>Mole checks and monitoring</li>
                            <li>Clinical Neurophysiology</li>
                        </ul>
                    </div>
                    <div class="tab-pane body" id="Account">
                        <form method='post' action='{% url 'change-password' %}'>
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email" value='{{uid.email}}' readonly disabled>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Current Password" name='currentpassword'>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="New Password" name='newpassword'>
                            </div>
                            <input type='submit' class="btn btn-info btn-round" value='Save Changes'>
                        </form>
                        <hr>

                        <form method='post' action="{% url 'doctor-profile-update' %}" enctype='multipart/form-data'>
                            {% csrf_token %}
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                    <input type="text" class="form-control mb-2" placeholder="Username" name='username' value='{{did.username}}'>
                                    <input type="text" class="form-control mb-2" placeholder="Email" name='email' value='{{uid.email}}'>
                                    <input type="text" class="form-control mb-2" placeholder="Contact no" name='contactno' value='{{did.contactno}}'>
                                    <input type="text" class="form-control mb-2" placeholder="specification" name='specification' value='{{did.specification}}'>
                                    <input type="text" class="form-control mb-2" placeholder="experience" name='experience' value='{{did.experience}}'>
                                    <input type="text" class="form-control mb-2" placeholder="Visiting Hours" name='visiting_hours' value='{{did.visiting_hours}}'>
                                    <p>Select Profile Pic : </p>
                                    <input type="file" class="form-control mb-2" placeholder="pic" name='pic'>
                                    <textarea rows="4" class="form-control mb-2 no-resize" placeholder="Address Line 1" name='address'>{{did.address}}</textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type='submit' class="btn btn-primary btn-round" value='Save Changes'>
                            </div>
                        </form>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
    </div></div>
</section>
{% endblock  %}